body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #3498db, #8e44ad); /* Gradient background */
    color: #fff; /* Text color */
  }
  
  .LoginPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .container {
    max-width: 400px;
  }
  
  .container img {
    margin-top: -20px;
    margin-bottom: 20px;
  }
  
  .container h3 {
    margin-bottom: 20px;
  }
  
  .container form {
    background: #fff; /* Form background color */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-label,
  .form-text {
    color: #555; /* Label and form text color */
  }
  
  .form-control {
    border: 1px solid #ddd; /* Input border color */
  }
  
  .form-control:focus {
    border-color: #3498db; /* Input border color on focus */
  }
  
  .btnLogin button {
    background: #3498db; /* Button background color */
    color: #fff; /* Button text color */
  }
  
  .btnLogin button:hover {
    background: #2980b9; /* Button background color on hover */
  }
  
  .border-danger {
    border-color: #e74c3c !important; /* Border color for invalid input */
  }
  
  /* Add more styles as needed */
  